<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" th:href="@{/css/home.css}" rel="stylesheet">
    <link href="/css/animation.css" th:href="@{/css/animation.css}" rel="stylesheet">
</head>

<body>
<style>

    h4 {
    font-weight: bold;
    color: #6607F1;
  }
</style>
<div th:replace="~{header :: navbar}"></div>
<div th:replace="~{login :: loginModal}"></div>


<div class="container my-5" id="post-container">
    <div class="d-flex justify-content-center">
        <form class="d-flex mb-4 align-items-center" th:action="@{/charities_events}" method="get">
            <label for="query" class="form-label me-2" style="margin-top: .5rem;">Tìm kiếm:</label>
            <input class="form-control me-2" type="search" id="query" name="query" placeholder="Tìm kiếm dự án..." aria-label="Tìm kiếm" style="width:500px">
            <button class="btn btn-primary" type="submit">Tìm kiếm</button>
        </form>
    </div>
    <h2 class="mb-4">Dự án của chúng tôi</h2>
    <hr style="margin-top:-10px ; margin-bottom: 30px;width: 100%;">
    <div class="row">
        <!-- Dự án 1 -->
        <div class="col-md-4 custom-height mb-4" th:each="post : ${data}" >
            <div class="card">
                <img src="img/Demo_2.webp" class="card-img-top" alt="Project Image" th:src="@{img/Demo_2.webp}">
                <div class="badge-position-secondary">
                    <span class="badge p-2" th:text="${post.charityEvent.disbursed} ? 'Đã hoàn thành' : 'Đang hoạt động'" th:classappend="${post.charityEvent.disbursed} ? 'bg-success' : 'bg-primary'"></span>
                </div>
                <div class="card-body">
                    <h6>Thời gian còn lại trước khi khóa sổ</h6>
                    <div class="countdowns text-center mb-3">
                        <div th:text="${post.charityEvent.timeLeft}"></div>
                        <div class="small">Ngày</div>
                    </div>
                    <h5 class="card-title" th:text="${post.title}"></h5>
                    <p class="card-text" th:text="${post.body}"></p>
                    <p>Đã góp được: <span th:text="${post.charityEvent.currentAmount}"></span> / <span th:text="${post.charityEvent.goalAmount}"></span></p>
                    <div class="progress mb-3">
                        <div class="progress-bar" role="progressbar"  th:style="'width: ' + (${post.charityEvent.currentAmount} / ${post.charityEvent.goalAmount} * 100) + '%;'"
                             th:aria-valuenow="${post.charityEvent.currentAmount / post.charityEvent.goalAmount * 100}"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div th:if="${post.charityEvent.disbursed == false}">
                    <a  th:href="@{/donate/{id}(id=${post.charityEvent.id})}" class="btn btn-outline-primary w-100">Đóng góp</a>
                </div>
                    <div th:if="${post.charityEvent.disbursed == true}">
                        <a   th:href="@{/transaction/{id}(id=${post.charityEvent.id})}"  class="btn btn-outline-primary w-100">Cảm ơn đã đóng góp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">

        <a th:classappend="${page == 0} ? 'disabled'" class="btn btn-outline-primary"
           th:href="@{/charities-events (query=${query},page=${page - 1})}">
            Trang trước
        </a>
        &nbsp;

        <a th:classappend="${page == total_pages} ? 'disabled'"  class="btn btn-outline-primary"
           th:href="@{/charityties-events (query=${query},page=${page + 1})}">
            Trang kế tiếp
        </a>
    </div>
</div>


<!--<div class="stats-container py-4">-->
<!--  <div class="container text-center">-->
<!--    <h2 class="mb-2">Đến bây giờ quỹ đã làm được:</h2>-->
<!--    <hr>-->
<!--    <div class="row">-->
<!--      &lt;!&ndash; Số trường hợp &ndash;&gt;-->
<!--      <div class="col-md-6">-->
<!--        <div class="stat-item">-->
<!--          <img src="https://via.placeholder.com/50" alt="Charity Icon" th:src="@{'https://via.placeholder.com/50'}">-->
<!--          <h1>69</h1>-->
<!--        </div>-->
<!--        <div class="stat-item">-->
<!--          <h3>TRƯỜNG HỢP</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; Số tiền đã quyên góp &ndash;&gt;-->
<!--      <div class="col-md-6">-->
<!--        <div class="stat-item">-->
<!--          <img src="https://via.placeholder.com/50" alt="Money Icon" th:src="@{'https://via.placeholder.com/50'}">-->
<!--          <h1>500,000,000</h1>-->
<!--        </div>-->
<!--        <div class="stat-item">-->
<!--          <h3>ĐỒNG</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!-- Xem thêm button -->

<script>
   document.addEventListener("DOMContentLoaded", function () {
         const bodyText = document.getElementById("ipbodyText");
         const maxLength = 300; // Giới hạn độ dài

         if (bodyText.textContent.length > maxLength) {
             bodyText.textContent = bodyText.textContent.substring(0, maxLength) + "...";
         }
     });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
